<section id="call-to-action">
    <div class="container-fluid bg-pink py-5">
        <div class="container">
            <div class="row justify-content-center">
            <div class="card bg-pink mb-3 col-md-10 rounded-0 border-0">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="lead ">
                                <span class="text-white lead display-3">Support Us</span>
                            </h2>
                        
                            <div class="text-dark">
                                {% capture p2 %}{% include markdown/together.md %}{% endcapture %}
                                {{ p2 | markdownify }}
                            </div>
                    
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ '/assets/images/WestminsterSchoolMay.jpg' | relative_url }}" class="card-img rounded-0 my-0" 
                        alt="A picture showing a direction sign for Westminster School" >
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>

