<footer class="container-fluid bg-dark py-4 mt-auto">
  <div class="container text-white">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h5 class="lead text-uppercase">About Us</h5>
        <p>Learn more about our mission and values.</p>
      </div>
      <div class="col-md-4">
        <h5 class="lead text-uppercase">Westminster</h5>
        <ul class="list-unstyled">
          <li><a class="footer-link-dark" href="https://www.oldwestminster.org.uk">Old Westminsters</a></li>
          <li><a class="footer-link-dark" href="https://www.westminster.org.uk">Westminster Great School</a></li>
          <li><a class="footer-link-dark" href="https://www.westminsterunder.org.uk">Westminster Under School</a></li>
          <li><a class="footer-link-dark" href="https://westminsterplatform.org.uk/">Westminster Platform</a></li>
          <li><a class="footer-link-dark" href="https://westminsterschoolenterprise.org.uk/">Westminster School Enterprise</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-uppercase">Contact Us</h5>
        <p>Email: <a href="mailto:foundation@westminster.org.uk" class="footer-link-dark">foundation@westminster.org.uk</a><br />Phone: +44 123 123 123</p>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <p class="text-dark">&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </div>
</footer>