<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="preload" fetchpriority="high" as="image" href="{{ '/assets/images/College-Garden.jpg' | absolute_url }}" type="image/jpeg" media="(prefetch)">
    <link rel="stylesheet" href="{{ '/assets/css/cookies.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
        {% seo %}

</head>
